@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');

@font-face {
  font-family: 'MontserratBlack';
  src: url('./assets/fonts/Montserrat-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('./assets/fonts/Montserrat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';
  src: url('./assets/fonts/Montserrat-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratReg';
  src: url('./assets/fonts/Montserrat-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'MontserratReg', sans-serif;
}
body {
  font-family: 'MontserratReg', sans-serif;

}

button {
  font-family: 'MontserratReg', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
