.expense-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 90vh;
    width: 100%;
    gap: 50px;
}

.add-container {
    display: flex;
    flex-direction: column;
    background-color: #fdf3e5;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.376));
    width: 45%;
    height: 90%;
    overflow: hidden;
}

.expense-sheet {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 40%;
    height: 90%;
}

.tracker-headers {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #184180;
}

.expense-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.272);
    
}

.net-expenses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.expense-card {
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    transition: .3s;
    position: relative; 
    overflow: hidden;
}

.balance-card {
    width: 90%;
    max-width: 680px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    transition: .3s;
    position: relative; 
    overflow: hidden;
}

.expense-card:hover, .balance-card:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.376));
}

.expense-card h3, .balance-card h3 {
    color:black;
    cursor: default;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.expense-card header, .balance-card header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    height: 40%;
    width: 100%;
}

.expense-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.customize-expense {
    width: 80px;
    height: 30px;
    background-color: rgb(206, 184, 164);
    color: black;
    border: 0px solid transparent;
    border-radius: 10px;
    transition: .3s;
}

.customize-expense:hover{
    background-color: rgb(190, 170, 150);
    transform: scale(1.03);
    cursor: pointer;
}

.customize-expense:active{
    transform: scale(1);
}

.expense-inputs input {
    font-size: 20px;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-container form h3 {
    font-weight: 200;
}

.add-container form {
    padding-bottom: 30px;
}

.class-submit {
    margin-top: 30px;
    background-color:#7dff7d;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
}

.class-submit:hover {
    background-color:#56f356;
    transform: scale(1.03);
    cursor: pointer;
}

.class-submit:active, .class-clear:active{
    transform: scale(1);
}

.class-clear {
    margin-top: 30px;
    background-color:#ff7d7d;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
}

.class-clear:hover {
    background-color:#f35656;
    transform: scale(1.03);
    cursor: pointer;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.expense-amount {
    display:flex;
    justify-content: center;
}

.dropdownmenu {
    position: relative;
}

.categories {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100px;
    top: 105%;
    position: absolute;
    overflow: hidden;
}

.categories button {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
}

.categories button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.expense-button{
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.expense-button:hover {
    background-color: gainsboro;
}

.expense-sheets {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    border-radius: 5px;
    overflow: hidden;
    width: 110%;
    position: absolute;
    top: 105%;
    z-index: 20;
}

.expense-sheets p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color:rgb(228, 228, 228);
    color: black;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: 1000;
    padding-top: 5px;
    border-bottom: 1px solid black;
}

.expense-sheets button {
    padding: 5px;
    background-color:rgb(228, 228, 228);
    color: black;
    font-size: 12px;
    border: 0px;
    transition: .3s;
}

.expense-sheets button:hover {
    background-color:rgb(202, 201, 201);
    cursor: pointer;
}

.collection-sheets {
    display: flex;
    flex-direction: row;
    gap:5px;
    border-radius: 5px;
    overflow: hidden;
    width: 110%;
    z-index: 20;
}

.collection-sheets button {
    border-radius:5px;
    width: 20%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
}

.collection-sheets button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.collection-sheets input {
    border-radius:5px;
    border: 0px;
    padding: 10px;
}

.expense-row {
    gap: 30px;
    display: flex;
    flex-direction: row;
}