.expense-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 90vh;
    width: 85%;
    gap: 40px;
}

.add-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #929292;
    background-color: #f6f6f6;
    border-radius: 10px;
    width: 35%;
    height: 90%;
    overflow: hidden;
}

.tracker-content {
    display: flex;
    flex-direction: row;
    height: 85%;
}

.right-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(72% - 100px);
    height: calc(90% - 100px);
    padding: 50px;
}

.left-add {
    background-color: white;    ;
    width: 28%;
    border-right: 1px solid gray;
}
.expense-sheet {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow:hidden;
    width: 60%;
    border: 1px solid #929292;
}

.transaction-sheet {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.transaction-information {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 60%;
    height: 90%;
}

.tracker-headers {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #474a53;
    font-size: 28px;
    height: 15%;
    /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.876)); */
}

.tracker-headers h4  {
    width:60%;
    text-align: left;
}

.expense-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 5px 10px;
    gap: 7px;
}

.customize-expense {
    background-color: #f6f6f6;
    border: 1px solid gray;
    width: 100%;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}

.customize-expense:hover{
    background-color: #e4e4e4;
    transform: scale(1.01);
    cursor: pointer;
}

.customize-expense:active{
    transform: scale(1);
}

.expense-amount input {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    background-color: white; 
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
}

.recharts-surface:focus, .recharts-sector:focus, .expense-inputs input:focus , .expense-amount input:focus {
    outline: none;
  }

.amount-box input::placeholder {
    font-size: 16px;
  }

.add-container form h3 {
    font-weight: 200;
    width: 45%;
    text-align: left;
    margin: 0px;
}

.class-submit {
    background-color:rgb(55, 92, 167);
    color: white;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.class-submit:hover {
    background-color:rgb(74, 110, 181);
    transform: scale(1.01);
    cursor: pointer;
}

.class-submit:active, .class-clear:active{
    transform: scale(1);
}

.class-clear {
    background-color:#8a8a8a;
    color: white;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.class-clear:hover {
    background-color:#9e9d9d;
    transform: scale(1.01);
    cursor: pointer;
}

.form-buttons{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.expense-amount {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.amount-box {
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    width: 55%;
}

.dropdownmenu {
    position: relative;
    font-size: 23px;
    width: 50%;
}

.dropdownmenu p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.your-collection {
    height: 50%;
    overflow: scroll;
    overflow: auto;              /* or overflow-x / overflow-y */
    -ms-overflow-style: none;    /* IE 10+ / Edge (Legacy) */
    scrollbar-width: none;       /* Firefox */
}

.your-collection::-webkit-scrollbar {
    width: 0;      /* vertical scrollbar */
    height: 0;     /* horizontal scrollbar */
  }

.your-collection p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.categories {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 150px;
    position: absolute;
    overflow: hidden;
    border: 1px solid black;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.102));
}

.categories button {
    width: 100%;
    font-size: 12px;
    height: 40px;
    background-color: white;
    border: 0px;
    transition: .3s;
}

.categories button:hover {
    transform: scale(1);
    background-color: #e4e4e4;
    cursor: pointer;
}

.expense-button{
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.expense-button:hover {
    background-color: gainsboro;
}

.expense-sheets {
    display: flex;
    flex-direction: column;
}

.header-collection  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: black;
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-weight: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: transparent;
}

.scroll-collection {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;    /* IE 10+ / Edge (Legacy) */
    scrollbar-width: none;       /* Firefox */
}

.scroll-collection::-webkit-scrollbar {
    width: 0;      /* vertical scrollbar */
    height: 0;     /* horizontal scrollbar */
  }

.expense-sheets .scroll-collection button {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid gray;
    margin: 0px 10px 0px 10px;
    padding: 8px 0px 8px 0px;
    color: black;
    font-size: 16px;
    transition: .3s;
}

.expense-sheets .scroll-collection button:hover {
    background-color:rgb(238, 238, 238);
    cursor: pointer;
}

.collection-sheets {
    display: flex;
    flex-direction: row;
    gap:5px;
    border-radius: 5px;
    overflow: hidden;
    width: 110%;
    z-index: 20;
}

.collection-sheets button {
    border-radius:5px;
    width: 20%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
}

.collection-sheets button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.collection-sheets input {
    border-radius:5px;
    border: 0px;
    padding: 10px;
}

.sheet-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #474a53;
    padding: 0px 10px 0px 10px;
    font-weight: 1000;
    height: 8%;
}

.sheet-headers p{
    text-align: left;
    color: white;
    width: 40%;
    height: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.sheet-headers .date-expense{
    font-family: 'MontserratReg', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    width: 60%;
    height: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    max-width: 100%;
}

.expense-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-expense {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: #e3e3e3;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: .1px solid black;
    padding: 10px;
    font-size: 15px;
    transition: .3s;
}

.edit-expense:hover{
    cursor: pointer;
    background-color: #d1cfcf;
}

.scroll-chart {
    overflow: scroll;
    height: 92%;
    -ms-overflow-style: none;    /* IE 10+ / Edge (Legacy) */
    scrollbar-width: none;       /* Firefox */
}

.scroll-chart::-webkit-scrollbar {
    width: 0;      /* vertical scrollbar */
    height: 0;     /* horizontal scrollbar */
  }

.sort-expense {
    background-color: #f6f6f6;
    border: 1px solid black;
    width: 100%;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
}

.sort-expense:hover {
    transform: scale(1.05);
    background-color: #e4e4e4;
    cursor: pointer;
}

.sort-expense:active{
    transform: scale(1);
}

.sort-dropdown {
    width: 20%;
    position: relative;
}

.sort-dropmenu {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 12;
    width: 200px;
    border: 1px solid black;
    top: 90%;
    right: 10%;
    overflow: hidden;
    position: absolute;
}

.sort-dropmenu button {
    transition: .3s;
    width: 100%;
    height: 40px;
    background-color: rgb(246, 245, 245);
    border: 0px;
}
.sort-dropmenu button:hover {
    transform: scale(1);
    background-color: #e4e4e4;
    cursor: pointer;
}

.expense-time {
    font-size: 50px;
}

.expense-row input {
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.save-category-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 20%;
    height: 30px;
    margin: 0px;
    border: .1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    position: relative;
}

.saved-category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 217, 200);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0px;
    font-size: 15px;
    margin: 0px;
    transition: .3s;
}

.save-category-menu {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    z-index: 30;
    width: 100px;
    top:90%;
    position: absolute;
    overflow: hidden;
}

.saved-category:hover {
    background-color: rgb(213, 195, 178);
    cursor: pointer;
}

.save-category-menu button {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
    transition: .3s;
}

.save-category-menu button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.edit-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 20%;
    max-width: 25%;
    height: 30px;
    margin: 0px;
    padding: 10px 5px 10px 5px;
}


.edit-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 11;
    width: 100%;
    top: -25%;
    border-radius: 10px;
    overflow: hidden;
    border: .1px solid gray;
}

.edit-menu p, .edit-menu button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    background-color: #ebeaea;
    color: black;
    width: 100%;
    height: 25px;
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    border: 0px;
    transition: .3s;
}
.edit-menu p:hover, .edit-cancel:hover {
    background-color: #d9d7d7;
    cursor: pointer;
}

.edit-delete:hover {
    background-color: rgb(255, 190, 192);
    cursor: pointer;
}

.edit-save:hover {
    background-color: rgb(190, 255, 190);
    cursor: pointer;
}

.transaction-data-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0px 15px 0px 15px;
    font-weight: 1000;
    border-bottom: 1px solid gray;
}

.transaction-data-header p {
    font-family: 'MontserratReg', sans-serif;
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 1000;
}

.transaction-data-block {
    height: 30%;
    border-radius: 20px;
    overflow:hidden;
    background-color: white;
    border: 1px solid #929292;
}

.transaction-chart {
    height: 100%;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.10));
}

.transaction-edit:hover{
    background-color: #e4e4e4;
    transform: scale(1.01);
    cursor: pointer;
}

.expense-inputs input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid gray;
}

@media (max-width:768px) {
    .expense-page {
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }

    .add-container, .expense-sheet {
        width: 80%;
    }
}