.expense-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 90vh;
    width: 100%;
    gap: 50px;
}

.add-container {
    display: flex;
    flex-direction: column;
    background-color: #fdf3e5;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.376));
    width: 45%;
    height: 90%;
    overflow: hidden;
}

.tracker-content {
    display: flex;
    flex-direction: row;
    height: 85%;
}

.right-add {
    width: 70%;
    height: 100%;
    border-left: 1px solid black;
}

.left-add {
    background-color: rgb(236, 236, 236);    ;
    width: 30%;
}
.expense-sheet {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow:hidden;
    background-color: #fdf3e5;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.376));
    border: 5px solid rgb(234, 234, 234);
    width: 40%;
    height: 90%;
}

.tracker-headers {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #004ab9;
    font-size: 35px;
    height: 15%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.876));
}

.expense-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.net-expenses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap:10px;
}

.expense-card {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    transition: .3s;
    position: relative; 
    overflow: hidden;
}

.balance-card {
    width: 90%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    transition: .3s;
    position: relative; 
    overflow: hidden;
}

.expense-card p, .balance-card p{
    margin-top: 13px;
    font-weight: 1000;
}

.expense-card h3, .balance-card h3 {
    color:black;
    cursor: default;
    font-weight: 100;
    font-size: 20px;
}

.expense-card header, .balance-card header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    height: 40%;
    width: 100%;
}

.expense-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.customize-expense {
    width: 120px;
    height: 30px;
    background-color: rgb(206, 184, 164);
    color: black;
    border: 0px solid transparent;
    border-radius: 10px;
    transition: .3s;
}

.customize-expense:hover{
    background-color: rgb(190, 170, 150);
    transform: scale(1.03);
    cursor: pointer;
}

.customize-expense:active{
    transform: scale(1);
}

.expense-inputs input {
    font-size: 20px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-container form h3 {
    font-weight: 200;
    margin: 0px;
}

.add-container form {
    padding-bottom: 30px;
}

.class-submit {
    background-color:#80fe99;
    height: 30px;
    width: 70%;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
}

.class-submit:hover {
    background-color:#7df595;
    transform: scale(1.01);
    cursor: pointer;
}

.class-submit:active, .class-clear:active{
    transform: scale(1);
}

.class-clear {
    background-color:#ff9393;
    height: 30px;
    width: 70%;
    border-radius: 10px;
    border: 0px;
    transition: .3s;
}

.class-clear:hover {
    background-color:#fb8383;
    transform: scale(1.01);
    cursor: pointer;
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.expense-amount {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 15px;
}

.amount-box {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white; 
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    width: 50%;
    height: 20px;
}

.dropdownmenu {
    position: relative;
}

.dropdownmenu p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.your-collection {
    height: 50%;
    overflow: scroll;
}

.your-collection p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.categories {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100px;
    top: 105%;
    position: absolute;
    overflow: hidden;
}

.categories button {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
    transition: .3s;
}

.categories button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.expense-button{
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.expense-button:hover {
    background-color: gainsboro;
}

.expense-sheets {
    display: flex;
    flex-direction: column;
}

.header-collection  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: black;
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-weight: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(221, 221, 221);
}

.scroll-collection {
    display: flex;
    flex-direction: column;
    overflow: scroll
}

.expense-sheets .scroll-collection button {
    background-color: rgb(236, 236, 236);
    border: 0px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 5px;
    color: black;
    font-size: 18px;
    transition: .3s;
}

.expense-sheets .scroll-collection button:hover {
    background-color:rgb(202, 201, 201);
    cursor: pointer;
}

.collection-sheets {
    display: flex;
    flex-direction: row;
    gap:5px;
    border-radius: 5px;
    overflow: hidden;
    width: 110%;
    z-index: 20;
}

.collection-sheets button {
    border-radius:5px;
    width: 20%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
}

.collection-sheets button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.collection-sheets input {
    border-radius:5px;
    border: 0px;
    padding: 10px;
}

.sheet-headers {
    display: flex;
    flex-direction: row;
    background-color: rgb(137, 107, 78);
}

.sheet-headers p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    width: 20%;
    max-width: 25%;
    height: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.sheet-headers .date-expense{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    width: 32%;
    max-width: 25%;
    height: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.expense-row {
    display: flex;
    flex-direction: row;
}

.expense-row p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 20%;
    height: 30px;
    margin: 0px;
    border: .1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.expense-row .date-expense {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 40%;
    max-width: 25%;
    margin: 0px;
    border: .1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}
.edit-expense {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: #e3e3e3;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: .1px solid black;
    padding: 10px;
    font-size: 15px;
    transition: .3s;
}

.edit-expense:hover{
    cursor: pointer;
    background-color: #d1cfcf;
}

.scroll-chart {
    overflow: scroll;
    height: 100%;
}

.sort-expense {
    background-color: #f6f6f6;
    border: 1px solid black;
    width: 100%;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
}

.sort-expense:hover {
    transform: scale(1.05);
    background-color: #e4e4e4;
    cursor: pointer;
}

.sort-expense:active{
    transform: scale(1);
}

.sort-dropdown {
    width: 20%;
    position: relative;
}

.sort-dropmenu {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 12;
    width: 200px;
    border: 1px solid black;
    top: 90%;
    right: 10%;
    overflow: hidden;
    position: absolute;
}

.sort-dropmenu button {
    transition: .3s;
    width: 100%;
    height: 40px;
    background-color: rgb(246, 245, 245);
    border: 0px;
}
.sort-dropmenu button:hover {
    transform: scale(1);
    background-color: #e4e4e4;
    cursor: pointer;
}

.expense-time {
    font-size: 50px;
}

.expense-row input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 20%;
    max-width: 25%;
    height: 30px;
    margin: 0px;
    border: 1px solid rgb(0, 136, 255);
    background-color: #faf5ef;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.save-category-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 20%;
    height: 30px;
    margin: 0px;
    border: .1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    position: relative;
}

.saved-category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 217, 200);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0px;
    font-size: 15px;
    margin: 0px;
    transition: .3s;
}

.save-category-menu {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    z-index: 30;
    width: 100px;
    top:90%;
    position: absolute;
    overflow: hidden;
}

.saved-category:hover {
    background-color: rgb(213, 195, 178);
    cursor: pointer;
}

.save-category-menu button {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 217, 200);
    border: 0px;
    transition: .3s;
}

.save-category-menu button:hover {
    transform: scale(1);
    background-color: rgb(183, 162, 144);
    cursor: pointer;
}

.edit-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 20%;
    max-width: 25%;
    height: 30px;
    margin: 0px;
    border: .1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.edit-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 11;
    width: 90%;
    top: 85%;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    border: .1px solid black;
}

.edit-menu p, .edit-menu button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebeaea;
    color: black;
    width: 100%;
    height: 25px;
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    border: 0px;
    transition: .3s;
}
.edit-menu p:hover, .edit-cancel:hover {
    background-color: #d9d7d7;
    cursor: pointer;
}

.edit-delete:hover {
    background-color: rgb(255, 121, 121);
    cursor: pointer;
}

.edit-save:hover {
    background-color: rgb(117, 255, 117);
    cursor: pointer;
}
