.home-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 130vh;
    width: 100%;
}

.left-home {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;


    background-color: rgb(239, 239, 239);
    padding: 40px 0px 80px 40px;
}

.landing-page h1, .landing-page p, .home-content h4, .home-content h5, .quick-button p, .home-debts-header h6{
    margin: 0px;
}

.home-content h4, .home-content h5, .home-debts-header h6 {
    font-size: 30px;
    color: rgb(33, 62, 120);
}

.home-content {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
    margin: 50px 120px 50px 120px;
}

.home-collections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-collections-container {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.home-collections-container > * {
    flex: 0 0 auto;
    min-width: 180px;
}

.home-collections-box p {
    margin: 0px;
}

.home-collections-box {
    /* background-color: #0f172a;
    border-radius: 20px; */
    padding: 20px;
    width: 300px;
    height: calc(100% - 40px);
    color: black;

    display: flex;
    flex-direction: column;
}

.home-collections-top {
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 5px;
}

.home-collections-top button {
    width: 150px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.home-collections-down {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    height: 50%;

}

.home-quick-access {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-quick-access-buttons {
    width: 100%;
    height: 110px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-quick-access-buttons button {
    width: 23%;
    height: 100%;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 20px;
}

.home-quick-access-buttons button:hover {
    cursor: pointer;
}

.home-debts {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.home-debts-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.home-debts-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.home-debts-category button {
    padding: 5px;
    border-radius: 40px;
    border: 1px solid black;
    width: 120px;
}

.home-debts-container {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
}

.right-home {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(187, 187, 187);
}