.login-page {
    width: 100%;
    height: 100vh;
}
.login-containers {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #494646;
}

.login-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
    gap: 45px
}

.login-containers form {
    filter: drop-shadow(0px 2px 40px black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 50%;
    gap: 15px;
    z-index: 2;
}

@font-face {
    font-family: 'UnageoBold';
    src: url('../../assets/fonts/Unageo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'UnageoReg';
    src: url('../../assets/fonts/Unageo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.login-information h2 {
    font-family: 'UnageoReg', sans-serif;
    font-size: 34px;
    margin-bottom: 0px;
    color: rgb(33, 62, 120);
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.437);
    border-radius: 30px;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.91);
    border: 1px solid rgb(146, 146, 146);
    color: black;
}

.login-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 0px 25px 0px;
    position: relative;
}

input[type="email"] , input[type="password"] {
    margin-top: 0px;
    height: 25px;
    background-color:#f5f4f4;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 8px;
    font-size: 17px;
    border: 1px solid black;
    font-family: 'Unageo', sans-serif;
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
}

.login-input h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    align-self: flex-start;
}

.login-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    filter: drop-shadow(0 0 0.25rem black);
    font-size: 35px;
    line-height: .1;
}

.login-information button {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(68, 71, 78);
    color: white;
    font-size: 14px;
    font-weight: 1000;
    background-color: rgb(33, 62, 120);
    border-radius: 20px;
    transition: .3s;
}

.login-information button:hover{
    border: 1px solid rgb(21, 50, 106);
    filter: drop-shadow(0 0 .4rem rgba(41, 42, 43, 0.456));
    background-color: rgb(56, 93, 169);
    transform: scale(1.01);
    cursor: pointer;
}

.login-information button:active{
    transform: scale(.98);
}

.login-information a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(68, 71, 78);
    font-size: 14px;
    color: rgb(33, 62, 120);
    text-decoration: none;
    font-weight: 1000;
    background-color: transparent;
    border-radius: 20px;
    transition: .3s;
}

.login-information a:hover{
    filter: drop-shadow(0 0 .4rem rgba(41, 42, 43, 0.456));
    background-color: rgb(33, 62, 120);
    color: white;
    transform: scale(1.01);
    cursor: pointer;
}

.login-information a:active{
    transform: scale(.98);
}

form h6 {
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.237);
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

form h6 a{
    color: #007c1d;
    transition: .3s;
    text-decoration: none;
}

form h6 a:hover{
    color: #039926;
    text-decoration: underline;
}

.login-input p {
    color: rgb(255, 20, 20);
    font-weight: 1000;
    margin: 0px;
    margin-top: 5px;
    font-size: 15px;
    align-self: center;
}

.money {
    max-height: 100vh;
    width: 1500px;
    opacity: 20%;
    z-index: 0;
}

.login-titles h1 {
    position:absolute;
    top: 40%;
}

.login-titles h3 {
    font-weight: 100;
    position:absolute;
    top: 50%;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 20px));
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}   

#modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    filter: drop-shadow(0px 0px 150px rgba(0, 0, 0, 0.744));
    border-radius: 20px;
    background-color: #ffffff;
    width: 350px;
    overflow: hidden;
    animation: modalFadeIn .6s ease-out;
    height: 170px;
    transition: .3s;
}

#modal-container:hover {
    filter: drop-shadow(0px 0px 125px rgba(0, 0, 0, 0.944));
}

.modal-header {
    background-color: rgb(33, 62, 120);
    width: 100%;
}

#modal-container p {
    color: black;
    font-size: 18px;
    height: 30px;
}

#modal-container h3 {
    margin: 10px;
    font-size: 26px;
    font-weight: 1000;
}

#modal-container button {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    transition: .3s;
}

#modal-container button:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: rgb(68, 66, 66);
    color: white;
}

#modal-container button:active {
    transform: scale(.98);
}

@media (max-width: 1439px) {
    .login-titles {
        display: none;
    }

    .login-containers form {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .login-information {
        width: 90%;
    }

    .login-box {
        height: 80%;
    }

    .login-information h2 {
        margin-top: 0px;
    }
}
