.profile-container {
    display: flex;
    justify-content: center;
    background-color: white;
    color:black;
    width: 100%;
    height: 90vh;
}

.account-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    border-radius: 20px;
    gap: 20px;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    gap: 20px;
}

.information-inputs {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.376));
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.picture-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 65%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.376));
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    height: 35%;
    border-top: 1px solid black;
}

#user-picture {
    clip-path: circle(100px at 50% 50%);
}

#saved-picture {
    background-color: rgb(118, 244, 118);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.376));
    padding: 10px;
    width: 120px;
    font-size: 15px;
    border-radius: 50px;
}

h1 {
    margin-bottom: 0px;
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.account-information p {
    margin: 0px;
}

.information-container .logout{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 20px;
    transition: .3s;
    background-color: #458fff;
}

.information-container .logout:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #2e80fb;
}

.information-container .logout:active {
    transform: scale(1);
}    