.signup-containers {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #494646;
    flex-direction: row;
}

.signup-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    width: 50%;
    height: 100%;
    gap: 45px;
    z-index: 2;
    filter: drop-shadow(20px 2px 19px black);
}

.signup-information h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-bottom: 0px;
    color: rgb(3, 104, 255);
    filter: drop-shadow(0 0 1rem rgb(31, 115, 250));
    border-radius: 30px;
}

.signup-information form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 65%;
    gap: 45px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(56, 56, 56);
    filter: drop-shadow(0px 2px 40px black);
    background-color: rgb(15, 15, 15);
    color: white;
    gap: 25px;
}

.signup-input {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.signup-input input {
    margin-top: 0px;
    height: 20px;
    background-color:#D9D9D9;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.signup-input h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    align-self: flex-start;
}

.signup-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    filter: drop-shadow(0 0 0.25rem black);
    font-size: 35px;
    line-height: .1;
}

.signup-titles h3 {
    font-weight: 100;
}

.signup-information button {
    width: 150px;
    height: 50px;
    border: 1px solid #0041b1;
    color: white;
    font-size: 14px;
    font-weight: 100;
    background-color: #005eff;
    border-radius: 10px;
    transition: .3s;
}

.signup-information button:hover{
    filter: drop-shadow(0 0 .4rem rgb(0, 71, 184));
    background-color: #004fd7;
    transform: scale(1.01);
    cursor: pointer;
}

.signup-information button:active{
    transform: scale(.98);
}

.signup-box h6 {
    color: rgb(91, 91, 91);
    margin-top: 0px;
    margin-bottom: 0px;
}

.signup-box h6 a{
    color: #2776FF;
    transition: .3s;
}

.signup-box h6 a:hover{
    color: #2776ffc5;
}

.input-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-input p {
    color: rgb(255, 20, 20);
    font-weight: 1000;
    margin-top: 5px;
    font-size: 15px;
}

#character-count {
    color: white(0, 0, 0);
    font-weight: 1000;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.money {
    max-height: 100vh;
    width: 1500px;
    opacity: 20%;
    z-index: 0;
}

.signup-titles h1 {
    position:absolute;
    top: 40%;
}

.signup-titles h3 {
    font-weight: 100;
    position:absolute;
    top: 50%;
}